.custom-card .custom-card-img {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 142px;
}

.custom-card {
  margin: 20px 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  cursor: pointer;
}

.custom-card .card-title {
  margin-bottom: 0;
}

.custom-card:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175) !important;
}
